@model IEnumerable<Car>

@{
	ViewData["Title"] = "Cars";
}

<div class="text-center">
	<a asp-action="Create">Create car</a>
	<br />
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Doors</th>
				<th>Color</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var car in Model)
			{
				<tr>
					<td>@car.Id</td>
					<td>@car.Make</td>
					<td>@car.Model</td>
					<td>@car.Year</td>
					<td>@car.Doors</td>
					<td>@car.Color</td>
					<td>@car.Price</td>
					<td><a asp-action="Edit" asp-route-id="@car.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@car.Id">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
